<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="用户管理系统测试套件">
    <test name="用户管理系统测试用例">
        <classes>
            <!--登录用例-->
            <class name="com.course.cases.LoginTest">
                <methods>
                    <include name="loginTrue"></include>
                    <include name="loginFalse"></include>
                </methods>
            </class>

            <!--增加用户用例-->
            <class name="com.course.cases.AddUserTest">
                <methods>
                    <include name="addUser"/>
                </methods>
            </class>

            <!--获取用户列表用例-->
            <class name="com.course.cases.GetUserInfoListTest">
                <methods>
                    <include name="getUserInfoList"></include>
                </methods>
            </class>

            <!--获取用户信息用例-->
            <class name="com.course.cases.GetUserInfoTest">
                <methods>
                    <include name="getUserInfo"></include>
                </methods>
            </class>

            <!--更新、删除用户信息用例-->
            <class name="com.course.cases.UpdateUserInfoTest">
                <methods>
                    <include name="updateUserInfo"></include>
                    <include name="deleteUser"></include>
                </methods>
            </class>
        </classes>
    </test>
    <!--测试报告监听器-->
    <listeners>
        <listener class-name="com.course.config.ExtentTestNGIReporterListener"></listener>
    </listeners>
</suite>